<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Guild:</strong>
  <%= @character.guild_id %>
</p>

<% @character.pets.each do |pet| %>
  <li><%= pet.name %></li>
<% end %>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
